{% extends 'layout.html' %} {% block head %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='message.js') }}"
></script>
{% endblock %} {% block body %}
<div>
  <ul class="collection with-header" id="messages">
    <li class="collection-header"><h4>{{channel.name}}</h4></li>
    {% for message in channel.messages %}
    <li class="collection-item">
      {{message.message}}
    </li>
    {% endfor %}
  </ul>
  <form method="POST" action="">
    <div class="input-field">
      <input
        placeholder="Enter Message"
        id="message"
        type="text"
        name="message"
      />
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Send Message
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

{% endblock %}
