{% extends 'layout.html' %} {% block head %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='message.js') }}"
></script>
{% endblock %} {% block body %}
<div>
  <div class="chat">
    <ul class="messages" id ="messages">
      <h4>{{channel.name}}</h4>
      {% for message in channel.messages %}
      <li> {{user_names[loop.index]}}</li>
      <li class="message">
        {{message.message}} 
      </li>
      {% endfor %}
    </div>
  </div>
  <form method="POST" action="">
    <div class="input-field">
      <input
        placeholder="Enter Message"
        id="message"
        type="text"
        name="message"
      />
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Send Message
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

{% endblock %}
